.carousel-container{
    width:45%;
    margin:auto;
    
   
}

.break{
    margin-top: 20px;
}

.break{
    margin-top:30px;
   
}

.breakright{
    margin-right:30px;
}

.imgborder{
    width:650px;
    border:1px white;
}